/config.txt
/.vs
/include/zoom_video_sdk/h/helpers
/include/zoom_video_sdk/h
/lib/zoom_video_sdk/qt_libs/Qt
/lib/zoom_video_sdk/libmpg123.so
/lib/zoom_video_sdk/libvideosdk.so
/lib/zoom_video_sdk/libvideosdk.so.1
/out/build
/CMakeSettings.json
/include/zoom_video_sdk/helpers
/include/zoom_video_sdk/zoom_sdk_raw_data_def.h
/include/zoom_video_sdk/zoom_video_sdk_api.h
/include/zoom_video_sdk/zoom_video_sdk_chat_message_interface.h
/include/zoom_video_sdk/zoom_video_sdk_cloud_record_handler_interface.h
/include/zoom_video_sdk/zoom_video_sdk_def.h
/include/zoom_video_sdk/zoom_video_sdk_delegate_interface.h
/include/zoom_video_sdk/zoom_video_sdk_interface.h
/include/zoom_video_sdk/zoom_video_sdk_password_handler_interface.h
/include/zoom_video_sdk/zoom_video_sdk_platform.h
/include/zoom_video_sdk/zoom_video_sdk_session_info_interface.h
/include/zoom_video_sdk/zoom_video_sdk_vector_interface.h
